<footer class="footer mt-auto py-3 bg-dark">
  <div
    class="container footerContent"
    style="
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <span class="text-muted siteFooter"
      >&COPY; 2023 {{constant('SITE_NOME')}}</span
    >
    <span class="text-muted siteFooter">
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"  style="justify-content: end !important"
      >
        <li>
          <a href="{{ url()}}" class="nav-link px-2 text-secondary">Home</a>
        </li>
        <li>
          <a href="{{ url('sobre-nos')}}" class="nav-link px-2 text-white"
            >Sobre</a
          >
        </li>
      </ul>
    </span>
  </div>
</footer>
